<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles/new_index.css')}}">
    <title>Portfolio</title>
</head>
<body>
    <div class="navbar-new">
        <div class="navbar-btn" id="navbar-btn">
            <img src="{{url_for('static', filename='assets/fi-rr-menu.svg')}}" alt="" class="navbar-btn-img" id="navbar-btn-img">
        </div>

        <div class="navbar-btn-expnd">
            <span>menu</span>
        </div>

        <div class="navbar-expnd">
            <ul class="menu-items">
                <li class="menu-item"><a href="#">> Home</a></li>
                <li class="menu-item"><a href="#ss">> content 1</a></li>
                <li class="menu-item"><a href="#ts">> content 2</a></li>
                <li class="menu-item"><a href="#fs">> cases of study</a></li>
            </ul>
            <div class="navbar-outlink-box">
                <a href="https://www.linkedin.com/in/vinicius-grigio/" class="outlink-linkedin">
                    <img src="{{url_for('static',filename='assets/portfolio-linkedin-logo.png')}}" alt="Linked Log">
                </a>
                <a href="https://github.com/grigio888/" class="outlink-github">
                    <img src="{{url_for('static',filename='assets/portfolio-github-logo.png')}}" alt="Linked Log" class="outlink-github-img">
                </a>
            </div>
        </div>
    </div>

    <section class="first-scroll">
        <div class="container">
            <div class="first-scroll-box-text">
                <h1>I'm Grigio</h1>
                <h2>and this is my Portfolio.<br>Welcome.</h2>
            </div>
        </div>
    </section>

    <section class="second-scroll" id="ss">
        <div class="container">
            <div class="second-scroll-box-text">
                <h2>In here, I’ll show some of my skills with creativity, trying to make a beautiful and responsive website.</h2>
            </div>
            <div class="second-scroll-box-art">G</div>
        </div>
    </section>

    <section class="third-scroll" id="ts">
        <div class="container">
            <div class="art-container">
                <div class="third-scroll-box-art" tile="art">
                    {% for i in range(3) %}
                        <h1>...</h1>
                    {% endfor %}
                </div>
                <div class="third-scroll-box-art-scnd-lay">
                    {% for i in range(3) %}
                        <h1>...</h1>
                    {% endfor %}
                </div>
            </div>
            <div class="third-scroll-box-text">
                <h2 class="text">And I'll build a place confortable to hone my skill and show some of things that I'm currently work (ed) on.</h2>
            </div>
        </div>
    </section>

    <section class="fourth-scroll" id="fs">
        <div class="container">
            <div class="fourth-scroll-box-text">
                <h2>Cases of Study</h2>
            </div>
            <div class="fourth-scroll-box-layout">
                {% for i in range(1) %}
                    <div class="case"></div>
                {% endfor %}
            </div>
        </div>
    </section>

    <script src="{{url_for('static', filename='jscript/js_index.js')}}"></script>
</body>
</html>