<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles/css_index.css')}}">
    {% block css %}
    {% endblock %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-logo-box">
            <a href="{{url_for('manager')}}" class="text">G</a>
        </div>

        <div class="navbar-outlink-box">
            <a href="{{url_for('index')}}" class="logout">
                <img src="{{url_for('static', filename='assets/fi-rr-sign-out-alt-orange.svg')}}" alt="" class="logout-img">
            </a>
        </div>
    </div>

    {% block body %}
    {% endblock %}

    {% block javascript %}
    {% endblock %}
</body>
</html>