{% extends "logged_template.html" %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/manager.css')}}">
{% endblock %}

{% block title %}
    Gerenciador
{% endblock %}

{% block navbar %}
<li class="icon icon-user">
    {{session['username']}}
</li>
{% endblock %}

{% block body %}
    {% for item in data %}
        <section id="section{{item.title()}}">
            <div class="container" id="container{{item.title()}}">
                <div class="painel" id="painel{{item.title()}}">
                    {% if item == 'usuario' %}
                        <h1>
                            {{data[item]['titulo']}}
                        </h1>

                        <div class="grid-container">
                            <div class="grid-layout"  id="grid{{item.title()}}">
                                {% for dados in data[item]['dados'] %}
                                {% set card =  data[item]['dados'][dados]%}
                                    <div class="card">
                                        {% for item in card %}
                                            {% if item == 'login' %}
                                                <div class={{item}}>{{card[item]}}</div>
                                            {% else %}
                                                <div class={{item}}>{{item.title()}}: {{card[item]}}</div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% elif item == 'contexto' %}
                        <h1>
                            {{data[item]['titulo']}}
                        </h1>

                        <div class="grid-container">
                            <div class="grid-layout" id="grid{{item.title()}}">
                            </div>
                        </div>
                    {% elif item == 'login' %}
                        <h1>
                            {{data[item]['titulo']}}
                        </h1>

                        <div class="grid-container">
                            <div class="grid-layout" id="grid{{item.title()}}">
                                {% for dados in data[item]['dados'] %}
                                    <div class="card">
                                        <div>PC: {{dados}}</div>
                                        <div>
                                        {% if data[item]['dados'][dados] %}
                                            <div id={{dados}} alt="" class="btn-decline icon icon-decline"></div>
                                        {% else %}
                                            <div id={{dados}} alt="" class="btn-confirm icon icon-decline"></div>
                                        {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <h1>
                            {{data[item]['titulo']}}
                        </h1>
                        <h2>
                            {{data[item]['texto'][0]}}<br>
                            {{data[item]['texto'][1]}}
                        </h2>
                    {% endif %}
                </div>
            </div>
        </section>
    {% endfor %}
{% endblock %}

{% block javascript %}
    <script src="{{url_for('static', filename='jscript/js_manager.js')}}"></script>
{% endblock %}