@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

:root {
    --cor-1: #ef6817;
    --cor-2: #21201f;
    --cor-3: #727271;
    --cor-4: #5f605d;
    --cor-5: #4e4e4e;
    --cor-6: #383838;
}

body {
    display: flex;

    justify-content: center;
    align-items: center;

    background: var(--cor-3);

    margin: 0;
    height: 98vh;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    66% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes transition-logon-box {
    from {
        display: flex;

        justify-content: center;
        align-items: center;

        padding: 0;

        background-color: var(--cor-2);
        box-shadow: 0 6px 16px 6px rgba(0,0,0,0.5);

        height: 100px;
        width: 100px;

        img {

            height: 50px;
            width: 50px;

            cursor: pointer;
        }

        .logon-field-box {
            display: none;
        }
    }
    to {
        display: block;

        padding: 25px;
        margin: 0;

        background-color: var(--cor-2);
        box-shadow: 0 6px 16px 6px rgba(0,0,0,0.5);

        height: 300px;
        width: 300px;

        img {
            display: flex;

            margin: 30px auto 40px;
            height: 50px;
            width: 50px;


            cursor: pointer;
        }

        .logon-field-box {
            display: flex;

            margin: auto;
            margin-top: 30px;

            form {
                margin: auto;
                margin-top: 10px;
                
                input {
                    display: flex;

                    height: 20px;
                    width: 240px;

                    margin-bottom: 15px;
                    padding: 5px;

                    border: 2px solid var(--cor-1);
                    border-radius: 5px;
                    background-color: var(--cor-2);

                    
                    font-family: 'Poppins', sans-serif;
                    text-align: center;
                    color: white;
                    
                    &::placeholder {
                        text-transform: uppercase;
                        color: lightgray;
                    }
                }

                .button_submit {
                    display: flex;
                    
                    margin: auto;
                    justify-content: center;
                    align-items: center;

                    height: 30px;
                    width: 75px;
                    padding: 5px;

                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
        }
    }
}

//logon

.logon-box {
    display: flex;

    justify-content: center;
    align-items: center;

    background-color: var(--cor-2);
    box-shadow: 0 6px 16px 6px rgba(0,0,0,0.5);

    height: 100px;
    width: 100px;

    img {

        margin-top: 10px;

        height: 50px;
        width: 50px;

        cursor: pointer;
    }

    .logon-field-box {
        display: none;
    }
}

.logon-box-after {
    display: block;

    padding: 25px;
    margin: 0;

    background-color: var(--cor-2);
    box-shadow: 0 6px 16px 6px rgba(0,0,0,0.5);

    height: 300px;
    width: 300px;

    animation-name: transition-logon-box;
    animation-duration: 2s;

    img {
        display: flex;

        margin: 30px auto 40px;
        height: 50px;
        width: 50px;


        cursor: pointer;
    }

    .logon-field-box {
        display: flex;

        margin: auto;
        margin-top: 30px;

        form {
            animation-name: fadeIn;
            animation-duration: 3s;

            margin: auto;
            margin-top: 10px;
            
            input {
                display: flex;

                height: 20px;
                width: 240px;

                margin-bottom: 15px;
                padding: 5px;

                border: 2px solid var(--cor-1);
                border-radius: 5px;
                background-color: var(--cor-2);

                
                font-family: 'Poppins', sans-serif;
                text-align: center;
                color: white;
                
                &::placeholder {
                    text-transform: uppercase;
                    color: lightgray;
                }
            }

            .button_submit {
                display: flex;
                
                margin: auto;
                justify-content: center;
                align-items: center;

                height: 30px;
                width: 75px;
                padding: 5px;

                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
}